* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 500vh;
}
/* 
.sticky-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.s1 { height: 100px; }
.s2 { height: 50vh; }
.s3 { height: 100vh; }

.sticky-box {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100px;
  background-color: red;
}

.bg-green {
  background: green;
}

.bg-yellow {
  background: yellow;
} */

.box {
  position: fixed;
  height: 100px;
  width: 100px;
}

.top-left {
  top: 0;
  left: 0;
  background: red;
  margin: 10px;
}

.top-right {
  top: 0;
  right: 0;
  background: green;
  margin: 10px;
}

.bottom-left {
  bottom: 0;
  left: 0;
  background: yellow;
  margin: 10px;
}

.bottom-right {
  bottom: 0;
  right: 0;
  background: blue;
  margin: 10px;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
}